test/
zedny_test_videos/
__pycache__/
*/__pycache__/

.venv/
*.log
*.lock
.git
.gitignore
.env
.env.example

**/*.pyc

src/timestamp_whisper/config/
src/timestamp_whisper/modal_class/

docker_commands.txt